.page-header {
    margin-top: 0;
}

.page-header h1 {
    margin-top: 0;
}

.nav-tabs {
    margin-bottom: 15px;
}

.nav-tabs > li > a {
    outline: none;
}

.scrollable-table-wrapper {
    overflow: auto;
    margin-bottom: 20px;
}

.scrollable-table-wrapper .table {
    margin-bottom: 0;
}

.highlight {
    display: none; /* hidden by default, until >480px */
    padding: 9px 14px;
    margin-bottom: 14px;
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
    border-radius: 4px;
}
.highlight pre {
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    background-color: transparent;
    border: 0;
    /*white-space: nowrap;*/
}
.highlight pre code {
    font-size: inherit;
    color: #333; /* Effectively the base text color */
}
.highlight pre .lineno {
    display: inline-block;
    width: 22px;
    padding-right: 5px;
    margin-right: 10px;
    text-align: right;
    color: #bebec5;
}

a.headerlink {
    color: #EEEEEE;
    font-size: 60%;
    margin-left: 2px;
    text-decoration: none;
}

a.headerlink:hover {
    color: #CCCCCC;
}

.sidebar .sidebar-header {
    margin-top: 0;
}

/*.form-group .collection-item:before,*/
/*.form-group .collection-item:after {*/
  /*content: none;*/
  /*display: none;*/
/*}*/

/*.form-group .collection-item:after {*/
  /*clear: none;*/
/*}*/

/*.form-group .collection-item {*/
  /*margin-bottom: inherit;*/
  /*padding-left: inherit;*/
  /*padding-right: inherit;*/
/*}*/